six==1.14.0
requests==2.22.0
tqdm==4.42.1
brewer2mpl==1.4.1
h5py==2.10.0
hyperopt==0.2.4
matplotlib==3.2.1
numpy==1.22.0
pandas==1.0.4
Pillow==9.0.1
ray==0.8.5
scikit_learn==0.23.1
scipy==1.10.0
seaborn==0.10.1
tensorboardX==2.0
torch==1.5.0
torchdiffeq==0.0.1
torchvision==0.6.0
statsmodels==0.11.1